*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}

.header{
	height: 70px;
	margin: 0 auto;
}

.logo{
	float:left;
	overflow: hidden;
}

.logo a img{
	float: left;
	/*display: inline-block;*/

}
.logo  p{
	/*display: inline-block;*/
    float: left;
    margin: 8px 0 0 8px;
    padding-left: 10px;
    
    color: #666;
    border-left: 1px solid #e6e6e6;
    /*cursor: pointer;*/
    line-height: 45px;
    font-size: 16px;

}
.hot-search a {
    display: inline-block;
    margin: 0 15px 0 0;
    color: #999;
    font: 12px/1.5 Arial;
}
.hot-search a:hover{
	color: #c00;
    text-decoration: underline;
}
.search-box .search{
    position: relative;
    width: 536px;
    height: 32px;
    border: 2px solid #c40000;
    z-index: 3;
}
.search-text {
    padding: 6px 10px;
    width: 427px;
    height: 20px;
    font: 14px/20px "Microsoft YaHei";
    color: #666;
    border: 0 none;
    outline: 0 none;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 89px;
    height: 32px;
    font: 16px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #fff;
    border: 0 none;
    background: #c40000;
    cursor: pointer;
}
/*.head-ad{
	float: right;
    width: 180px;
    height: 60px;
    padding-top: 0;
}
*/





.tip{
	margin-top: 14px;
	float: right;
	font-size: 16px;
	padding: 8px 0;
}

.tip>a{

	color: red;
}
.search-box{
    float: left;
    padding: 12px 0 0 56px;
}

